ul{
	padding:0;
	font-size:0;
	color:white;
}
li{
	display:inline-flex;
	border:1px solid white;
	align-items:center;
	justify-content:center;
	background-color:rgb(192,192,192);
	font-size:30px;
	width:16.6%;
	height:75px;
}
a{
	color:white;
	/* text-decoration:none; */
}
